	<div class="upper-body-container">
		<div class="welcome" >
			<h2>Full-Stack Web Developer</h2>
			<h2>Lifelong Learner</h2>
			<h2>Adventure Seeker</h2>
			<h2>Amateur Ukulele Player</h2>
			<h2>Avid Movie Goer</h2>
		<span id="about-me"></span>

		</div>

		
		
	</div>
		<div class="divider" id="blogs">
			<div>
				<h3>About Me</h3>
			</div>
				
		</div>
	<div class="mid-body-container">
		<div class ="blogs-container ">
			<div class="latest-blog ">
				<p class="blog-title">
					MOST RECENT BLOG:
					<%= @content[:last_blog][:name]%>
				</p>
				<hr />
				<p class="blog-date">
					<%= @content[:last_blog].created_at.strftime("%A") %>, 
					<%= @content[:last_blog].created_at.strftime("%B #{@content[:last_blog].created_at.day.ordinalize}, %Y")%>
				</p>
				<p class="blog-content">
					<%= @content[:last_blog].content %>
				</p>
			</div>

			<div class="about-me-summary ">
			this is where about me content will be
			</div>

		</div>


		<div class="divider" id="portfolio">
				<div>
					<h3>P O R T F O L I O</h3>
				</div>
		</div>
	</div>

	<div class="lower-body-container">
		<div class="portfolio-container">
			<div style="vertical-align:middle;text-align:center;width:100%;margin:0 auto;padding-top:100px;padding-bottom:100px;" class="">
				<% @content[:projects].each do |project| %>
				<div class="project">
					<p class="project-title">
						<%= project.name %>
					</p>
					<hr/>
					<p class="project-description">
						<%= project.description %>
					</p>
					<hr />
					<p class="project-link">
						<a href='http://www.fitbitgraphs.co'>View Project</a>
					<p>
				</div>
				<%end %>
			</div>
		</div>

	</div>
		

